@import 'settings';
// @import 'mixins/mixins';

* {
    margin: 0;
    padding: 0;
    font-family: $sans;
    font-size: 14px;
}

@import 'base/header';
@import 'components/container';
@import 'components/button';
// @import 'components/block';

@import 'base/logos';
@import 'base/footer';
